<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>IP</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {#each logs as log}
      <tr>
        <td>{log.name}</td>
        <td>{log.type}</td>
        <td>{log.ip}</td>
        <td>{log.state.on}</td>
      </tr>
    {:else}
      <tr>
        <td colspan="5">No log entries.</td>
      </tr>
    {/each}
  </tbody>
</table>

<script>
  export default {
    data: () => ({
      logs: [],
    }),
  };
</script>
