{#await result}
  <p class="lead"><span class="loading mr3" /> 🔭 Searching for devices...</p>
{:then devices}
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Host</th>
        <th>Port</th>
        <th>Raw Data</th>
      </tr>
    </thead>
    <tbody>
      {#each devices as device, index}
        <tr>
          <td><button class="button" type="button" on:click="add(device, index)">Add</button></td>
          <td>{device.host}</td>
          <td>{device.port}</td>
          <td>{JSON.stringify(device)}</td>
        </tr>
      {:else}
        <tr>
          <td colspan="5" class="tc">🤷 No devices found on your local network.</td>
        </tr>
      {/each}
    </tbody>
  </table>
{:catch err}
  <div class="alert alert-error">
    <strong>ERROR:</strong> {err}
  </div>
{/await}

<script>
  export default {
    data: () => ({
      result: fetch('/api/discover').then((res) => {
        if (!res.ok) throw new Error(res.statusText);
        return res.json();
      }),
    }),
    methods: {
      add(device, index) {
        this.store.devicePut(null, {
          host: device.host,
          port: device.port,
          name: 'New Device',
        });

        // TODO: Figure out how to remove an added device
        // this.set({ devices: this.get().devices.splice(index, 1) });
      },
    },
  };
</script>
