{#await result}
  <p class="lead"><span class="loading mr3" /> 🔭 Searching for devices...</p>
{:then devices}
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Name</th> -->
        <!-- <th>Type</th> -->
        <!-- <th>IP</th> -->
        <!-- <th>State</th> -->
        <th>Location</th>
        <th>Host</th>
        <th>Status</th>
        <th>Raw Data</th>
      </tr>
    </thead>
    <tbody>
      {#each devices as device}
        <tr>
          <!-- <td>{device.name}</td> -->
          <!-- <td>{device.type}</td> -->
          <!-- <td>{device.ip}</td> -->
          <!-- <td>{device.state}</td> -->
          <td>{device.location}</td>
          <td>{device.host}</td>
          <td>{device.status}</td>
          <td>{JSON.stringify(device, null, 2)}</td>
        </tr>
      {:else}
        <tr>
          <td colspan="5" class="tc">🤷 No devices found on your local network.</td>
        </tr>
      {/each}
    </tbody>
  </table>
{:catch err}
  <div class="alert alert-error">
    <strong>ERROR:</strong> {err}
  </div>
{/await}

<script>
  export default {
    data: () => ({
      result: fetch('/api/discover').then((res) => {
        if (!res.ok) throw new Error(res.statusText);
        return res.json();
      }),
    }),
  };
</script>
