<input bind:value="value" id="{id}" class="input number" type="number">
<button on:click="decrement()">-</button>
<button on:click="increment()">+</button>

<script>
  export default {
    data: () => ({
      // value: 1,
    }),
    methods: {
      increment() {
        const { value, min, max, step = 10 } = this.get();
        this.set({ value: value + step });
        this.fire('change');
      },
      decrement() {
        const { value, min, max, step = 10 } = this.get();
        this.set({ value: value - step });
        this.fire('change');
      },
    },
  };
</script>
<style type="text/postcss">
  /* @import "import.css"; */

  .number {
    /* TODO */
  }
</style>
