@import "import.css";
@import "@minna-ui/css/src";

body {
  text-rendering: optimizeLegibility;
}

.icon {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

/* Buttons */

.button,
.card-button {
  font-weight: $text-weight-heavy;
  text-transform: uppercase;
}

.button + .button {
  margin-left: 1rem;
}

.button-dark,
.button-main,
.button-action {
  color: $white;
}

.button-dark {
  background-color: $dark-gray3;

  &:hover,
  &:focus {
    background-color: $dark-gray1;
  }

  &:active {
    background-color: $gray1;
  }
}

.button-main {
  background-color: $intent-primary;

  &:hover,
  &:focus {
    background-color: $blue2;
  }

  &:active {
    background-color: $blue1;
  }
}

.button-action {
  background-color: $intent-success;

  &:hover,
  &:focus {
    background-color: $green2;
  }

  &:active {
    background-color: $green1;
  }
}

/* Forms */

.input,
.select,
.textarea {
  width: 100%;
}

/* Tables */

.table-responsive {
  width: 100vw;
  margin: -1rem;
  overflow-x: auto;

  @media $(ns) {
    width: 100%;
    margin: unset;
  }
}

/* Loading state spinner */
/* TODO: Consider moving this into minna-ui */

$spinner-size: 24px;
$spinner-size-offset: calc(-1 * ($spinner-size / 2));
$spinner-color: $intent-primary;
$spinner-background-color: $gray5;
$spinner-animate-speed: 0.8s;

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading { /* stylelint-disable-line selector-max-id */
  display: inline-block;
  width: $spinner-size;
  height: $spinner-size;

  &::before { /* stylelint-disable-line selector-max-id */
    position: absolute;
    width: $spinner-size;
    height: $spinner-size;
    content: "";
    border: 3px solid $spinner-background-color;
    border-top-color: $spinner-color;
    border-radius: 50%;
    animation: spinner $spinner-animate-speed linear infinite;
  }
}

/* Utils */

/* TODO: Get rid of this */
.float-right {
  float: right;
}
